.contact-container {
    padding: 4rem 2rem;
    text-align: center;
}

.contact-container h2 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: var(--innovation-strike)
}

.contact-container p {
    margin-bottom: 2rem;
    color: var(--text-secondary);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.contact-form label {
    font-weight: bold;
    color: var(--text-secondary);
}

.contact-form input,
.contact-form textarea {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
    min-height: 150px;
}

.contact-form button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    background-color: var(--innovation-strike);
    color: var(--text-primary);
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #00c0a0;
}